{% extends "basic_black.html" %}
{% block content %}
    <main id="banner">
        <div class="container-fluid padding-medium">
            <div class="hero-content text-center">
                <h2 class="display-2 text-uppercase mb-0 fw-medium">Single Post</h2>
                <nav class="breadcrumb d-flex justify-content-center mt-3 me-1">
                    <a class="breadcrumb-item" href="{{ url_for("main") }}">Home</a>
                    <a class="breadcrumb-item active" aria-current="page">Single Post</a>
                </nav>
            </div>
        </div>
    </main>

    <section>
        <div class="container-fluid px-md-5">
            <div class="row">
                <main class="post-grid">
                    <div class="row">
                        <article class="post-item">
                            <div class="post-content">
                                <h2 class="display-5 fw-medium text-uppercase mb-5">Best electric product to buy this
                                    season.</h2>

                                <p>
                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                                        facilisis vivamus massa
                                        magna. Blandit mauris libero condimentum commodo morbi consectetur sociis
                                        convallis sit. Magna
                                        diam amet justo sed vel dolor et volutpat integer. Iaculis sit sapien hac odio
                                        elementum egestas
                                        neque. Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi
                                        laoreet est
                                        euismod.</strong>
                                </p>
                                <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor
                                    curabitur non
                                    aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus,
                                    vel. Morbi arcu
                                    amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in
                                    vestibulum erat.
                                    Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae
                                    neque bibendum
                                    eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt
                                    tellus sit ornare.
                                    Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae eu,
                                    eu tincidunt
                                    nunc integer sit.</p>
                                <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet
                                    dolor
                                    curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet
                                    enim, lacus,
                                    vel.</blockquote>


                                <div class="post-thumbnail my-5">
                                    <img src="../static/images/blog-single.jpg" alt="single-post" class="img-fluid">
                                </div>
                                <div class="post-description py-4">
                                    <p>
                                        <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                                            facilisis vivamus massa
                                            magna. Blandit mauris libero condimentum commodo morbi consectetur sociis
                                            convallis sit. Magna
                                            diam amet justo sed vel dolor et volutpat integer. Iaculis sit sapien hac
                                            odio elementum egestas
                                            neque. Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi
                                            laoreet est
                                            euismod.</strong>
                                    </p>
                                    <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor
                                        curabitur non
                                        aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim,
                                        lacus, vel. Morbi arcu
                                        amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in
                                        vestibulum erat.
                                        Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae
                                        neque bibendum
                                        eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt
                                        tellus sit ornare.
                                        Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae
                                        eu, eu tincidunt
                                        nunc integer sit.</p>
                                    <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum,
                                        amet dolor
                                        curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit
                                        imperdiet enim, lacus,
                                        vel.</blockquote>

                                    <div class="row align-items-center my-5">
                                        <div class="col-12 col-md-6">
                                            <p>
                                                <strong>Consectetur Facilisis Vivamus</strong>
                                            </p>
                                            <ul style="list-style-type:disc;" class="inner-list">
                                                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                                <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                                                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                                <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                                                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p>
                                                <strong>Consectetur Facilisis Vivamus</strong>
                                            </p>
                                            <ul style="list-style-type:disc;" class="inner-list">
                                                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                                <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                                                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                                <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                                                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <p>Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in
                                        sollicitudin in vestibulum
                                        erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer
                                        vitae neque
                                        bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit
                                        tincidunt tellus sit
                                        ornare. Purus ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt
                                        nunc integer sit.</p>
                                    <p>Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in
                                        sollicitudin in vestibulum
                                        erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer
                                        vitae neque
                                        bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit
                                        tincidunt tellus sit
                                        ornare. Purus ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt
                                        nunc integer sit.</p>
                                    <p>
                                        <strong>Velit, praesent pharetra malesuada</strong>
                                    </p>
                                    <p>Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus.
                                        Aliquam
                                        pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper
                                        urna, elit ac diam
                                        tellus viverra lacus.</p>
                                    <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus
                                        fermentum, massa
                                        ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris
                                        maecenas et magna. Etiam
                                        nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec
                                        pellentesque. Odio
                                        mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                                    <p>Velit, praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis
                                        massa iaculis et,
                                        dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non
                                        euismod eget. Et eget
                                        ullamcorper urna, elit ac diam tellus viverra lacus.</p>

                                    <div class="post-tags mt-5">
                                        <div class="block-tag col-md-12">
                                            <ul class="list-unstyled d-md-flex">
                                                <li class="pe-3 my-2">
                                                    <a href="#" class="btn btn-dark fs-6 py-2 px-3">Modish suits</a>
                                                </li>
                                                <li class="pe-3 my-2">
                                                    <a href="#" class="btn btn-dark fs-6 py-2 px-3">sweatshirts</a>
                                                </li>
                                                <li class="pe-3 my-2">
                                                    <a href="#" class="btn btn-dark fs-6 py-2 px-3">Hoodie</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div id="single-post-navigation" class="my-5">
                                    <div class="post-navigation d-flex flex-wrap align-items-center justify-content-between">
                                        <a itemprop="url" class="post-prev d-flex flex-column text-decoration-none" href="#" title="Previous Post">
                                            <span class="text-muted">Previous</span>
                                            <h3 class="page-nav-title">How to get good look in budget</h3>
                                        </a>
                                        <a itemprop="url" class="post-next d-flex flex-column text-decoration-none" href="#" title="Next Post">
                                            <span class="text-muted">Next</span>
                                            <h3 class="page-nav-title">Best Styling tips from experts</h3>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </article>

                        <!-- comments -->
                        <section id="post-comment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="comments-wrap">
                                            <h2 class="display-6 fw-normal text-dark my-5">
                                                <span class="count">3</span> Comments
                                            </h2>
                                            <div class="comment-list padding-small">
                                                <article class="comment-item d-flex flex-wrap mb-3">
                                                    <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                        <img src="../static/images/reviewer5.jpg" alt="default" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="col-lg-10 col-sm-9 mb-4">
                                                        <div class="author-post">
                                                            <div class="comment-meta d-flex">
                                                                <h5 class="author-name text-dark pe-1">Sam Smith</h5>
                                                                <span class="meta-date text-muted">Jul 10</span>
                                                            </div>
                                                            <p class="m-0">Mattis pulvinar non viverra donec
                                                                pellentesque. Odio mi consequat
                                                                libero dolor. Porta ut diam lobortis eget leo, lectus.
                                                                Tortor diam dignissim amet, in
                                                                interdum aliquet. Nascetur libero elementum adipiscing
                                                                mauris maecenas et magna.</p>
                                                            <div class="comments-reply">
                                                                <a href="#" class="text-decoration-underline text-dark">Reply
                                                                    Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="comment-item d-flex child-comments flex-wrap ps-5 mb-3">
                                                    <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                        <img src="../static/images/reviewer4.jpg" alt="default" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="col-lg-10 col-sm-9 mb-4">
                                                        <div class="author-post">
                                                            <div class="comment-meta d-flex">
                                                                <h5 class="author-name text-dark pe-1">Santie Mary</h5>
                                                                <span class="meta-date text-muted">Jul 10</span>
                                                            </div>
                                                            <p class="m-0">Tristique tempis condimentum diam done
                                                                ullancomroer sit element
                                                                henddg sit he consequert.Tristique tempis condimentum
                                                                diam done ullancomroer sit element
                                                                henddg sit he consequert.</p>
                                                            <div class="comments-reply">
                                                                <a href="#" class="text-decoration-underline text-dark">Reply
                                                                    Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="comment-item d-flex flex-wrap">
                                                    <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                        <img src="../static/images/reviewer3.jpg" alt="default" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="col-lg-10 col-sm-9 mb-4">
                                                        <div class="author-post">
                                                            <div class="comment-meta d-flex">
                                                                <h5 class="author-name text-dark pe-1">Analisa Nora</h5>
                                                                <span class="meta-date text-muted">Jul 10</span>
                                                            </div>
                                                            <p class="m-0">Tristique tempis condimentum diam done
                                                                ullancomroer sit element
                                                                henddg sit he consequert.Tristique tempis condimentum
                                                                diam done ullancomroer sit element
                                                                henddg sit he consequert.</p>
                                                            <div class="comments-reply">
                                                                <a href="#" class="text-decoration-underline text-dark">Reply
                                                                    Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="comment-respond pt-3 mt-5">
                                            <h2 class="display-6 fw-normal text-dark my-5">Leave a Comment</h2>

                                            <form id="form" class="form-group flex-wrap">
                                                <div class="form-input col-lg-12 d-flex mb-3">
                                                    <input type="text" name="email" placeholder="Write Your Name Here*" class="form-control ps-3 me-3">
                                                    <input type="text" name="email" placeholder="Write Your Email Here*" class="form-control ps-3">
                                                </div>
                                                <div class="col-lg-12 mb-3">
                                                    <textarea placeholder="Write Your Message Here*" class="form-control ps-3" rows="8"></textarea>
                                                </div>
                                                <div class="">
                                                    <button class="btn btn-arrow btn-primary btn-lg btn-pill btn-dark fs-6">Submit</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- / comments -->

                    </div>
                </main>
            </div>
        </div>
    </section>

    <section id="blogs" class="padding-medium px-md-5">
        <div class="container-fluid">
            <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="display-5 fw-medium">NEWS ARTICLES</h3>
                <div><a href="{{ url_for("blog") }}" class="btn btn-dark">read all</a></div>
            </div>
            <div class="article">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="{{ url_for("single_post") }}"> <img src="../static/images/article1.jpg" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="{{ url_for("single_post") }}" class="article-names">Best electric product to
                                buy this season.</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="{{ url_for("single_post") }}"> <img src="../static/images/article2.jpg" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="{{ url_for("single_post") }}" class="article-names">How to follow the trend
                                in budget
                                list.</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="{{ url_for("single_post") }}"> <img src="../static/images/article5.jpg" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="{{ url_for("single_post") }}" class="article-names">unique gadget to own by
                                tech collectors.</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
